h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.house_row{
  border: 1px solid #dadada;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard_house_row{
  border: 1px solid #dadada;
  margin-bottom: 10px;
}
.shadow_on_hover:hover{
  -webkit-box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
  -moz-box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
  box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
}
.house_image_holder{
  margin-top: 8px;
}
.no-padding-left{
  padding-left: 0px !important;
}
.no-padding-right{
  padding-right: 0px !important;
}
.house_title{
  font-size: 17px;
  font-weight: bold;
  color: #4E7F98;
  margin-top: 3px;
  margin-bottom: 10px;
}
.border_left{
  border-left: 1px solid #dadada;
}
.label_style{
  color: #608198;
  font-size: 13px;
}
.house_rent_amount{
  font-size: 15px;
  font-weight: bold;
  color: #7F8A92;
}
.house_ad_type_and_category{
  margin-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid #dadada;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 12px;
  color: #053E67;
  text-transform: capitalize;
}
.house_address_value{
  color: #9E4141;
}

.single_house_image_holder{
}
.single_house_details{
  border: 1px solid #dadada;
  padding-bottom: 15px;
}
.price_tag_box{
  padding-bottom: 8px;
  padding-top: 8px;
}

.border_bottom{
  border-bottom: 1px solid #dadada;
}
.single_house_title{
  font-size: 17px;
  font-weight: bold;
  color: #4E7F98;
  margin-top: 10px;
  margin-bottom: 10px;
}
.single_house_details .house_details{
  color: #8F96A9;
}
.single_house_address_section{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.single_house_address_section .label_style_address{
  color: #608198;
}

.single_house_right_side{
  border: 1px solid #dadada;
  padding-top: 10px;
  padding-bottom: 20px;
}
.single_house_contact_info{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.single_house_contact_info .contact_value{
  color: #487f9e;
}
.single_house_contact_info .contact_info_title{
  color: #000066;
}
.filtering_tools{
  border: 1px solid #dadada;
  padding: 10px;
  min-height: 400px;
}
.margin_top10{
  margin-top: 10px;
}
.margin_top15{
  margin-top: 15px;
}
.margin_bottom10{
  margin-bottom: 10px;
}
.margin_bottom15{
  margin-bottom: 15px;
}
.icon_margin{
  margin-left: 5px;
  margin-right: 5px;
}

.header_profile_select{
  border: 1px solid #101010;
  background: #101010;
  height: 50px;
  color: gray;
  width: 80px;
}
.options{
  height: 25px;
}

.dropdown-menu>li>a{
  color: #9d9d9d !important;
}

.cursor_pointer{
  cursor: pointer;
}
.position_right_zero{
  right: 0 !important;
}
.sebm-google-map-container {
  height: 300px;
}









































