/* For SVG spinner -- START */
.main-spinner__wrap--fs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center
}

.main-spinner__wrap--fs:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%
}
.main-spinner {
  display: inline-block;
  vertical-align: middle
}
.main-spinner__md {
  position: relative;
  width: 4.9rem;
  height: 8.8rem;
  opacity: 0.5
}
.main-spinner__md-top {
  position: absolute;
  top: 5px;
  right: -5px;
  -webkit-animation: spinner-rotate 2s infinite ease-in-out;
  animation: spinner-rotate 2s infinite ease-in-out
}
.main-spinner__md-center {
  position: absolute;
  top: 1rem;
  left: 0
}
.main-spinner__md-bottom {
  position: absolute;
  left: 1.2rem;
  bottom: 0;
  -webkit-animation: up-down 2s infinite cubic-bezier(0.36, 0.01, 0, 0.92);
  animation: up-down 2s infinite cubic-bezier(0.36, 0.01, 0, 0.92)
}


/*rotate*/
@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  19% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
  64% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg)
  }
  100% {
    -webkit-transform: rotate(1159deg);
    transform: rotate(1159deg)
  }
}

@keyframes spinner-rotate {
  0% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg)
  }
  100% {
    -webkit-transform: rotate(1159deg);
    transform: rotate(1159deg)
  }
}

/* For SVG spinner -- END */


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.house_row{
  border: 1px solid #dadada;
  margin-bottom: 10px;
  cursor: pointer;
}
.house_row:hover{
  -webkit-box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
  -moz-box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
  box-shadow: 0.15px 0.15px 23px 0px rgba(97,173,115,1);
}
.house_image_holder{
  margin-top: 8px;
}
.no-padding-left{
  padding-left: 0px !important;
}
.no-padding-right{
  padding-right: 0px !important;
}
.house_title{
  font-size: 17px;
  font-weight: bold;
  color: #4E7F98;
  margin-top: 3px;
  margin-bottom: 10px;
}
.border_left{
  border-left: 1px solid #dadada;
}
.label_style{
  color: #608198;
  font-size: 13px;
}
.house_rent_amount{
  font-size: 15px;
  font-weight: bold;
  color: #7F8A92;
}
.house_ad_type_and_category{
  margin-top: 6px;
  margin-bottom: 6px;
  border-top: 1px solid #dadada;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 12px;
  color: #053E67;
  text-transform: capitalize;
}
.house_address_value{
  color: #9E4141;
}

.single_house_image_holder{
}
.single_house_details{
  border: 1px solid #dadada;
  padding-bottom: 15px;
}
.price_tag_box{
  padding-bottom: 8px;
  padding-top: 8px;
}

.border_bottom{
  border-bottom: 1px solid #dadada;
}
.single_house_title{
  font-size: 17px;
  font-weight: bold;
  color: #4E7F98;
  margin-top: 10px;
  margin-bottom: 10px;
}
.single_house_details .house_details{
  color: #8F96A9;
}
.single_house_address_section{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
.single_house_address_section .label_style_address{
  color: #608198;
}

.single_house_right_side{
  border: 1px solid #dadada;
  padding-top: 10px;
  padding-bottom: 20px;
}
.single_house_contact_info{
  font-size: 14px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.single_house_contact_info .contact_value{
  color: #487f9e;
}
.single_house_contact_info .contact_info_title{
  color: #000066;
}