<div class="jumbotron">
    <h3>You can change your password from here</h3>
    <form (ngSubmit)="onChangePassword()" #formCtrl="ngForm">
        <div class="form-group">
            <label for="password">Current password</label>
            <input  type="password" id="current_password"
                    name="current_password" [(ngModel)]="current_password"
                    class="form-control" required>
        </div>
        <div *ngIf="errors && errors.current_password && errors.current_password.length > 0 " class="alert alert-danger">
            <span>Current password {{ errors.current_password[0] }}</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  type="password" id="password"
                    name="password" [(ngModel)]="password"
                    class="form-control" required>
        </div>
        <div *ngIf="errors && errors.password && errors.password.length > 0 " class="alert alert-danger">
            <span>Password {{ errors.password[0] }}</span>
        </div>
        <div class="form-group">
            <label for="password">Password confirmation</label>
            <input  type="password" id="password_confirmation"
                    name="password_confirmation" [(ngModel)]="password_confirmation"
                    class="form-control" required>
        </div>
        <div *ngIf="errors && errors.password_confirmation && errors.password_confirmation.length > 0 " class="alert alert-danger">
            <span>Password {{ errors.password_confirmation[0] }}</span>
        </div>
        <button type="submit"  class="btn btn-primary" [disabled]="!formCtrl.form.valid">Change your password</button>
    </form>
</div>