<div id="sidebar-wrapper" class="">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand active">
                <a routerLink="/home"><span class="fa fa-home solo">Home</span></a>
            </li>
            <li class="">
                <a routerLink="/dashboard" data-scroll="" class="">
                    <span class="fa fa-anchor solo">New House</span>
                </a>
            </li>
            <li class="">
                <a routerLink="/dashboard" data-scroll="" class="">
                    <span class="fa fa-anchor solo">My Houses</span>
                </a>
            </li>
            <li class="">
                <a routerLink="/dashboard" data-scroll="" class="">
                    <span class="fa fa-anchor solo">New House</span>
                </a>
            </li>
            <li class="">
                <a routerLink="/dashboard" data-scroll="" class="">
                    <span class="fa fa-anchor solo">My Houses</span>
                </a>
            </li>
        </ul>
    </nav>
</div>