<div class="row" *ngIf="houses">
    <div class="col-md-3">
      <div class="filtering_tools">
          <h3>Filtering Tools</h3>
      </div>
    </div>

    <div class="col-md-6">
        <div class="row house_row" *ngFor="let house of houses">

            <a [routerLink]="['/house', house.id ]">
                <div class="col-md-8">
                    <div class="house_title"> {{ house.title }}</div>
                    <div class="col-md-6 no-padding-left">
                       <span class="label_style"> Bedroom: {{ house.bedroom }}</span><br>
                       <span class="label_style"> Bathroom: {{ house.bathroom }}</span><br>
                        <span class="label_style">Balcony:  {{ house.balcony }}</span><br>
                        <span class="label_style"><span class="glyphicon glyphicon-calendar"></span> {{ house.created_at | date }}</span><br>
                    </div>
                    <div class="col-md-6 no-padding-right border_left">
                        <span class="label_style">Living area:  {{ house.living_area }} sq-ft</span><br>
                        <span class="label_style">Address: <span class="house_address_value"> {{ house.address }}</span></span><br>
                        <span class="house_rent_amount"> Rent:  {{ house.rent }} Tk </span><br>
                    </div>
                    <div class="col-md-12 no-padding-right no-padding-left house_ad_type_and_category">
                        <div class="col-md-6 no-padding-left">For: {{ house.ad_type }} </div>
                        <div class="col-md-6 no-padding-right"> {{house.house_category}} </div>
                    </div>
                </div>
                <div class="col-md-4 house_image_holder">
                    <a class="thumbnail">
                        <img class="img-responsive" src="../images/demoHouse.jpg">
                    </a>
                </div>
            </a>
        </div>

    </div>
    <div class="col-md-3">
      <a class="thumbnail">
        <img class="img-responsive" src="../images/ad.jpg">
      </a>
    </div>
</div>
