<div class="row margin_top15" *ngIf="houses">
    <div class="col-md-3">
      <div class="filtering_tools">
          <h3>Filtering Tools</h3>
      </div>
    </div>

    <div class="col-md-6">
        <div class="row house_row shadow_on_hover"  *ngFor="let house of houses">

            <a [routerLink]="['/house', house.id ]">
                <house-list [house]="house" ></house-list>
            </a>
        </div>

    </div>
    <div class="col-md-3">
      <a class="thumbnail">
        <img class="img-responsive" src="../images/ad.jpg">
      </a>
    </div>
</div>
