<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
    <!-- Sidebar -->
    <left-panel></left-panel>
    <!-- Page content -->
    <div id="page-content-wrapper" class="">
        <div class="content-header">
            <h1>
                All of my houses
                <a class="btn btn-primary" [routerLink]="['/newHouse']">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create new house
                </a>
            </h1>
        </div>
        <div class="page-content inset">
            <div class="row margin_top15" *ngIf="houses">

                <div class="col-md-9">
                    <div class="row dashboard_house_row" *ngFor="let house of houses">
                        <!--<a [routerLink]="['/house', house.id ]">-->
                            <dashboard-house-list [house]="house"  (setDeleteId)="setDeleteId($event);" ></dashboard-house-list>
                        <!--</a>-->
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="thumbnail">
                        <img class="img-responsive" src="../images/ad.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteHouse" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>You want delete this house &hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteHouse()">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->